doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css")
    script(language='javascript', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBI_1lRuq38QPdQU8wMjcK2sVa4MM3cpHQ&v=3')
    script(src="/javascripts/map.js")
    script(src="/javascript/main.js")
  body
    block content
