extends layout
block content
    .container-fluid
        nav.navbar.navbar-expand-sm.navbar-light.bg-faded
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#nav-content', aria-controls='nav-content', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            a.navbar-brand(href='#') Logo
            #nav-content.collapse.navbar-collapse.justify-content-end
                ul.navbar-nav
                li.nav-item
                    a.nav-link(href='#') Events
                li.nav-item
                    a.nav-link(href='#') Connections
                li.nav-item
                    a.nav-link(href='#') Reviews
                li.nav-item
                    a.nav-link(href='#') Logout
        .row.profile
            .profile-sidebar
                .profile-userpic
                    img.img-fluid(src='', alt='')
                .profile-usertitle
                    .profile-usertitle-name
                    | Full Name
                    .profile-usertitle-job
                    | Intro
                    .profile-userbuttons
                        button.btn.btn-success.btn-sm(type='button') Follow
                        button.btn.btn-danger.btn-sm(type='button') Message
                .profile-usermenu
                    ul.nav
                        li
                            a.nav-link(href='#') Overview
                        li
                            a.nav-link(href='#') Account Settings
                        li
                            a.nav-link(href='#', target='_blank') Tasks
                        li
                            a.nav-link(href='#') Help
            .col-lg-9
